/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-breadcrumb-background-active: #f8ac4c;
  --ifm-breadcrumb-item-background-active: #f8ac4c;
  --ifm-breadcrumb-color-active: #000;
  --ifm-code-font-size: 95%;
  --ifm-color-primary: #ff8300;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-footer-background-color: #0b333f;
  --ifm-link-color: #ff8300;
  --ifm-link-hover-color: #f8ac4c;
  --ifm-menu-color: #ff8300;
  --ifm-menu-color-active: #000;
  --ifm-menu-color-background-active: #f8ac4c;
  --ifm-menu-color-background-hover: #f8ac4c;
  --ifm-menu-link-color: #fff;
  --ifm-navbar-background-color: #0b333f;
  --ifm-navbar-link-color: #f8ac4c;
  --ifm-toc-link-color: #000;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-breadcrumb-background-active: #f8ac4c;
  --ifm-breadcrumb-item-background-active: #f8ac4c;
  --ifm-breadcrumb-color-active: #000;
  --ifm-color-primary: #ff8300;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-link-color: #f8ac4c;
  --ifm-link-hover-color: #f8ac4c;
  --ifm-menu-color: #fff;
  --ifm-menu-color-active: #fff;
  --ifm-menu-link-hover-color: #fff;
  --ifm-menu-color-background-active: #f8ac4c;
  --ifm-menu-color-background-hover: #f8ac4c;
  --ifm-toc-link-color: #fff;
}

.footer__copyright, .menu__link:hover {
color: #32220f;
}
.menu__link--active, .menu__link--active:hover {
color: var(--ifm-menu-color-active);
}
.menu__list-item-collapsible .menu__link--active {
  background-color: #f8ac4c;
}

.footer {
  background-color: #efca1b;
}

.footer__copyright {
  color: #32220f;
}

.navbar__title {
  display: none;
}

.navbar__logo {
  margin-right: 0;
}

.navbar__brand {
  margin-right: 0;
}

.menu__link:hover {
  color: #32220f;
}

.display--flex--start {
  display:flex;
  gap:12px;
  justify-content:flex-start;
}

.display--flex {
  display:flex;
  gap:12px;
}

.article {
  color: #32220f;
  background-color: #f8ac4c;
  padding: 12px 12px;
  display: inline-block;
  width: 100%;
}

.article--header {
  color: #32220f;
  background-color: #e9e9e9;
  padding: 12px 12px;
  display: inline-block;
  margin-top: 12px;
  max-width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.article--box {
  color: #32220f;
  background-color: #e9e9e9;
  padding: 12px 12px;
  display: inline-block;
  margin-top: 12px;
  width: 50%;
}

.box--link {
  color: #1990db;
}

.article-p {
  margin: 20px;
}

.article-p {
  margin: 20px;
}

.icon--150 {
  height: 150px;
  align-content: center;
}

/* Hide header title on page */
.theme-doc-markdown > header:nth-child(1) > h1:nth-child(1) {
  display: none;
}

.margin-right--md,
.menu__caret,
.navbar__items--right,
.navbar__toggle,
.navbar-sidebar__back,
.navbar-sidebar__item.menu {
  color: #fff;
}
